<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Team Name Here</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <ul id="nav">
      <li><a href="/home">Home</a></li>
      <li><a href="/profile">Profile</a></li>
      <li><a href="/list/shows">Shows</a></li>
      <li><a href="/list/movies">Movies</a></li>
      <li><a href="/reviews">Reviews</a></li>
      <li><a href="/watchlist">Watch List</a></li>
      <li><a href="/users">Users</a></li>
    </ul>
    {{{body}}}
</body>
</html>
