<form action="/create_profile" method="post">
    <div>Name: <input type="text" name="name"></div>
    <div>URL to Profile Pic: <input type="text" name="profilePic"></div>
    <div>Bio: <input type="text" name="bio"></div>
    <input type="submit" value="Create Profile">
</form>
