<form action="/create_review" method="post">
    <h2>Create Review for {{title}}</h2>
    <div>Rating<input type="text" name="rating"></div>
    <div>Review Text<input type="text" name="review"></div>
    <input type="submit" value="Create">
</form>
