<form action="/login_user" method="post">
    <h2>Login Existing User</h2>
    <div>Username: <input type="text" name="username1"></div>
    <div>Email: <input type="text" name="email1"></div>
    <input type="submit" value="Login">
</form>

<form action="/create_user" method="post">
    <h2>Create New User</h2>
    <div>Username: <input type="text" name="username2"></div>
    <div>Email: <input type="text" name="email2"></div>
    <input type="checkbox" name="isAdmin" value="True"> Admin User? </br>
    <input type="submit" value="Create New User">
</form>
