<form action="/test_create_review" method="post">
    <h2>Create Review</h2>
    <div>User Id<input type="text" name="userId"></div>
    <div>Show Id<input type="text" name="showId"></div>
    <div>Rating<input type="text" name="rating"></div>
    <div>Review Text<input type="text" name="review"></div>
    <input type="submit" value="Create">
</form>
