<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Team Name Here</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body onload = "tableCreate()">
</body>
<script>
function tableCreate(){
	x = JSON.parse();
	var div1 = document.createElement("div");
	var t = document.createTextNode("ClickMe");
  	div1.append(t);
	var att = document.createAttribute("class");
	att.value = "democlass";
	div1.setAttributeNode(att);
  	document.body.appendChild(div1);
}
</script>
</html>
